<%- include('../partials/header') %>

<div class="container px-3 px-sm-4 px-md-5" style="max-width: 600px">
  <%- include('../partials/flash') %>
  <h1 class="mb-4">Sign In</h1>
  <form action="/login" method="POST" class="mb-5">
    <div style="max-width: 400px">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>

<%- include('../partials/test-footer') %>
