<% if (success && success.length) { %>
<div
  class="alert alert-success alert-dismissible fade show"
  role="alert"
  data-auto-dismiss="true"
>
  <%= success[0] %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if (error && error.length) { %>
<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  data-auto-dismiss="true"
>
  <%= error[0] %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<script>
  setTimeout(() => {
    document
      .querySelectorAll('.alert[data-auto-dismiss="true"]')
      .forEach((alert) => {
        alert.classList.remove('show');
        alert.classList.add('fade');
        setTimeout(() => alert.remove(), 500);
      });
  }, 5000);
</script>
