<%- include('partials/header') %>
<%- include('partials/flash') %>

<div class="container text-center py-5">
  <h1 class="display-4">404: Meme Not Found</h1>
  <p class="lead">The meme you're looking for might be hiding... or never existed at all.</p>

  <img src="https://github.com/shawnhank/meme-vault/blob/main/public/images/Original%20Confused%20Travolta.gif" alt="Confused Travolta from Pulp Fiction" class="img-fluid my-4" style="max-height: 300px;">

  <p>But don’t worry, you can always go back and find something hilarious.</p>

  <a href="/" class="btn btn-primary btn-lg mt-3">Take Me Home</a>
</div>

<%- include('partials/footer') %>