<%- include('../partials/header') %>

<div class="container mt-4">
  <h2>All Tags</h2>
  <div class="d-flex flex-wrap gap-2">
    <% tags.forEach(tag => { %>
      <a href="/tags/<%= tag.name %>" class="badge text-bg-primary text-decoration-none">
        <%= tag.name %>
      </a>
    <% }) %>
  </div>
</div>

<%- include('../partials/test-footer') %>