<%- include('../partials/header') %>  <!-- Include site-wide header (nav, title, etc) -->
<%- include('../partials/flash') %>   <!-- Show flash success/error messages -->

<h1>Change Password</h1>

<form action="/users/<%= user._id %>/change-password?_method=PUT" method="POST">
  <!-- New password input -->
  <label for="password">New Password *</label>
  <input type="password" name="password" id="password" required placeholder="Enter new password">

  <!-- Confirm password input -->
  <label for="confirm">Confirm New Password *</label>
  <input type="password" name="confirm" id="confirm" required placeholder="Confirm new password"">

  <button type="submit">Change Password</button>
</form>

<%- include('../partials/footer') %>  <!-- site-wide footer (scripts, links, etc) -->